<div
  class="w-full h-screen flex flex-col bg-stone-800 hide-scrollbar overflow-hidden pb-16 pt-[57px] md:py-0"
>
  <app-header></app-header>

  <section
    #messagesScroller
    class="relative w-full flex-1 overflow-auto overscroll-contain flex flex-col hide-scrollbar"
  >
    <ul class="flex flex-col w-full h-fit py-4 hide-scrollbar">
      @if (messagesDisplay().length === 0 && !loadingMessages()) {
      <div
        class="w-full flex flex-col items-center justify-center text-center text-stone-400 p-4"
      >
        <i class="pi pi-inbox mb-2 text-4xl! text-stone-600"></i>
        Nenhuma mensagem ainda. Seja o primeiro a enviar uma!
      </div>
      } @else if (loadingMessages()) {
      <div class="w-full flex items-center justify-center text-stone-400">
        <i class="pi pi-spin pi-spinner text-4xl!"></i>
      </div>
      } @for (display of messagesDisplay(); track $index) {
      <li>
        @if ($index > 0 && display.showDateSeparator) {
        <div
          class="w-full text-sm flex items-center p-4 gap-2 text-stone-400 [&_hr]:w-full [&_hr]:border-t [&_hr]:border-t-neutral-700"
        >
          <hr />
          {{ dateSeparator(display.message.created_at) }}
          <hr />
        </div>
        }
        <app-message
          [message]="display.message"
          [diffTime]="display.diffTime"
          [isSelected]="
            !!newMessageReply && newMessageReply()?.id === display.message.id
          "
          (onEditMessage)="onEditMessage($event)"
          (onSelectReplyMessage)="onReplySelected($event)"
        ></app-message>
      </li>
      }
    </ul>
    @if (isMobile()) {
    <div
      class="fixed top-auto bottom-0 left-0 right-0 w-full flex items-center bg-stone-800 border-t border-t-neutral-700/50 h-18 min-h-fit max-h-32 p-2 pb-4 gap-2"
    >
      <div
        class="w-full flex items-center bg-stone-700/40 max-h-32 overflow-y-scroll hide-scrollbar rounded-2xl min-h-[47px]"
      >
        <p-button
          icon="pi pi-plus"
          [dt]="buttonThemes.ghost"
          styleClass="bg-transparent!"
          (click)="op.toggle($event)"
        ></p-button>
        @if (newMessageFileUrl()) {
        <div
          class="flex items-center gap-2 px-2 py-1 rounded-full border border-stone-600 text-stone-300 mt-1"
        >
          <img [src]="newMessageFileUrl()" class="size-6 object-contain" />
          <button
            class="text-stone-400 hover:text-stone-200"
            (click)="newMessageFileUrl.set(null); op.hide()"
          >
            <i class="pi pi-times text-xs!"></i>
          </button>
        </div>
        }
        <p-popover #op [dt]="popoverThemes.ghost"
          ><div>
            <span
              class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
              >Adicione uma imagem</span
            >
            <p-inputgroup>
              <p-inputgroup-addon styleClass="bg-stone-800! border-stone-600!">
                www
              </p-inputgroup-addon>
              <input
                pInputText
                fluid
                [(ngModel)]="tempFileUrl"
                [dt]="inputThemes.outlined"
              />
              <p-inputgroup-addon styleClass="border-[#4752C4]!">
                <p-button
                  icon="pi pi-plus"
                  [dt]="buttonThemes.primary"
                  (click)="
                    newMessageFileUrl.set(tempFileUrl());
                    tempFileUrl.set(null);
                    op.hide()
                  "
                />
              </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </p-popover>
        <textarea
          #message
          pTextarea
          rows="1"
          [maxlength]="500"
          fluid
          [placeholder]="inputPlaceholder()"
          [autoResize]="true"
          [pAutoFocus]="true"
          [(ngModel)]="newMessageContent"
          [dt]="inputThemes.outlined"
          [style]="{ border: '0', backgroundColor: 'transparent' }"
          class="flex-1!"
        ></textarea>
      </div>
      <p-button
        icon="pi pi-send"
        [dt]="buttonThemes.primary"
        styleClass="rounded-full!"
        (click)="sendMessage()"
        [disabled]="!canSend()"
      ></p-button>
    </div>
    }
  </section>

  @if (!isMobile()) {
  <div class="w-full p-2 pt-0">
    @if (newMessageReply()) {
    <div
      class="bg-stone-600/40 border border-stone-700/50 border-b-0 rounded-t-lg text-stone-300 w-full flex items-center justify-between px-4 py-2"
    >
      <span class="text-sm">
        Respondendo a <b>{{ newMessageReply()?.username }}</b>
      </span>
      <button
        class="size-4 grid place-content-center text-stone-400 hover:text-stone-200"
        (click)="newMessageReply.set(null)"
      >
        <i class="pi pi-times text-sm!"></i>
      </button>
    </div>
    }
    <div
      class="w-full flex items-start bg-stone-600/20 border border-stone-700 min-h-14 rounded-lg pt-1.5 pl-2 {{
        newMessageReply() && 'rounded-t-none!'
      }}"
    >
      <p-button
        icon="pi pi-plus"
        [dt]="buttonThemes.ghost"
        styleClass="bg-transparent!"
        (click)="op.toggle($event)"
      ></p-button>
      @if (newMessageFileUrl()) {
      <div
        class="flex items-center gap-2 px-2 py-1 rounded-full border border-stone-600 text-stone-300 mt-1"
      >
        <img [src]="newMessageFileUrl()" class="size-6 object-contain" />
        <button
          class="text-stone-400 hover:text-stone-200"
          (click)="newMessageFileUrl.set(null); op.hide()"
        >
          <i class="pi pi-times text-xs!"></i>
        </button>
      </div>
      }
      <p-popover #op [dt]="popoverThemes.ghost"
        ><div>
          <span
            class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
            >Adicione uma imagem</span
          >
          <p-inputgroup>
            <p-inputgroup-addon styleClass="bg-stone-800! border-stone-600!">
              www
            </p-inputgroup-addon>
            <input
              pInputText
              fluid
              [(ngModel)]="tempFileUrl"
              [dt]="inputThemes.outlined"
            />
            <p-inputgroup-addon styleClass="border-[#4752C4]!">
              <p-button
                icon="pi pi-plus"
                [dt]="buttonThemes.primary"
                (click)="
                  newMessageFileUrl.set(tempFileUrl());
                  tempFileUrl.set(null);
                  op.hide()
                "
              />
            </p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </p-popover>
      <textarea
        #message
        pTextarea
        rows="1"
        [maxlength]="500"
        fluid
        [placeholder]="inputPlaceholder()"
        [pAutoFocus]="true"
        [autoResize]="true"
        [(ngModel)]="newMessageContent"
        (keydown.enter)="$event.preventDefault(); canSend() && sendMessage()"
        [dt]="inputThemes.outlined"
        [style]="{ border: '0', backgroundColor: 'transparent' }"
      ></textarea>
    </div>
  </div>
  }
</div>
