<div
  class="mr-2 rounded-r-md px-6 py-0.5 h-fit border-l-2 border-l-transparent hover:bg-stone-700/30 relative group/message {{
    isSelected() && 'bg-lime-700/25 hover:bg-lime-700/20! border-l-lime-600!'
  }}"
  [style]="{
    'margin-top': diffTime() ? '12px' : '0',
  }"
  (blur)="
    $event.preventDefault();
    isEditingMessage.set(false);
    newMessageContent.set(message()?.content || '')
  "
  (touchstart)="handleLongPressStart()"
  (touchend)="handleLongPressEnd()"
>
  @if (message()?.replyTo) {
  <div class="flex items-center gap-1 ml-5 mb-2 text-stone-400">
    <i class="pi pi-reply mr-2"></i>
    <div class="flex items-center gap-1">
      <p-avatar
        [image]="message()?.replyTo?.author?.picture || '/assets/piscord.svg'"
        shape="circle"
        styleClass="size-4! [&_img]:object-cover"
        class="bg-lime-700!"
        #picture
      ></p-avatar>
      <span class="text-xs text-stone-400 font-medium text-nowrap">{{
        message()?.replyTo?.author?.username
      }}</span>
    </div>
    <span
      class="text-xs text-stone-300 font-normal text-nowrap line-clamp-1 truncate"
      >{{ message()?.replyTo?.content }}</span
    >
  </div>
  }
  <div class="grid grid-cols-[40px_1fr] gap-4 items-start">
    @if (diffTime()) {
    <div
      class="col-start-1 col-end-2 h-full max-h-16 flex-shrink-0 flex items-center justify-center"
    >
      <p-avatar
        [image]="message()?.author?.picture || '/assets/piscord.svg'"
        shape="circle"
        styleClass="size-10! [&_img]:object-cover"
        class="bg-lime-600!"
        #picture
      ></p-avatar>
    </div>
    <div class="col-start-2 col-end-3">
      <app-user-popover
        [userId]="message()?.author?.id"
        [isOwn]="isOwnMessage()"
      >
        <div class="flex items-center space-x-2">
          <span
            class="font-medium text-stone-200 hover:underline cursor-pointer"
          >
            {{ message()?.author?.username }}
          </span>
          <span class="text-xs text-stone-500">
            {{ formattedFullDate() }}
          </span>
        </div>
      </app-user-popover>
      @if (isEditingMessage()) {
      <textarea
        pTextarea
        rows="1"
        [maxlength]="500"
        fluid
        [autoResize]="true"
        [pAutoFocus]="false"
        [(ngModel)]="newMessageContent"
        [dt]="inputThemes.outlined"
        (blur)="
          isEditingMessage.set(false);
          newMessageContent.set(message()?.content || '')
        "
        (keydown.escape)="
          $event.preventDefault();
          isEditingMessage.set(false);
          newMessageContent.set(message()?.content || '')
        "
        (keydown.enter)="
          $event.preventDefault();
          isEditingMessage.set(false);
          handleEditMessage()
        "
        class="flex-1!"
      ></textarea>
      } @else {
      <p
        class="w-fit font-normal text-stone-300 break-words break-all whitespace-pre-wrap hyphens-auto"
      >
        {{ message()?.content }}
        @if (!!message()?.editedAt) {
        <span class="text-xs text-stone-400">(editado)</span>
        }
      </p>
      } @if (message()?.fileUrl) {
      <div class="w-full pb-1">
        <p-image
          [src]="message()?.fileUrl"
          [alt]="message()?.id + '-image'"
          class="object-contain max-h-[512px] max-w-xs"
          styleClass="[&_.p-image-preview-mask]:opacity-0! [&_.p-image-preview-mask]:cursor-pointer!"
          [preview]="true"
        />
      </div>
      }
    </div>
    } @else {
    <div
      class="col-start-1 col-end-2 h-full max-h-16 flex-shrink-0 flex items-start justify-center"
    >
      <span
        class="mt-1 hidden group-hover/message:block text-[11px] text-nowrap truncate text-stone-500"
      >
        {{ formattedDate() }}
      </span>
    </div>
    <div class="col-start-2 col-end-3">
      @if (isEditingMessage()) {
      <textarea
        pTextarea
        rows="1"
        [maxlength]="500"
        fluid
        [autoResize]="true"
        [pAutoFocus]="false"
        [(ngModel)]="newMessageContent"
        [dt]="inputThemes.outlined"
        (blur)="
          isEditingMessage.set(false);
          newMessageContent.set(message()?.content || '')
        "
        (keydown.escape)="
          $event.preventDefault();
          isEditingMessage.set(false);
          newMessageContent.set(message()?.content || '')
        "
        (keydown.enter)="
          $event.preventDefault();
          isEditingMessage.set(false);
          handleEditMessage()
        "
        class="flex-1!"
      ></textarea>
      } @else {
      <p
        class="w-fit font-normal text-stone-300 break-words break-all whitespace-pre-wrap hyphens-auto {{
          message()?.isDeleted ? 'italic text-stone-500' : ''
        }}"
      >
        {{ message()?.content }}
        @if (!message()?.isDeleted && !!message()?.editedAt) {
        <span class="text-xs text-stone-400">(editado)</span>
        }
      </p>
      } @if (message()?.fileUrl) {
      <div class="pb-1">
        <p-image
          [src]="message()?.fileUrl"
          [alt]="message()?.id + '-image'"
          class="object-contain max-h-[512px] max-w-xs"
          styleClass="[&_img]:object-contain max-h-[512px] max-w-xs"
          [preview]="true"
        />
      </div>
      }
    </div>
    }

    <div
      class="absolute right-4 -top-4 opacity-0 group-hover/message:opacity-100 rounded-md w-fit p-[2px] bg-stone-800 border border-stone-700 text-stone-500 hover:border-stone-600 flex items-center z-20"
      [class.opacity-100]="showMobileActions()"
    >
      @if (isOwnMessage()) {
      <button
        type="button"
        class="size-7 p-1 rounded-md hover:bg-stone-700/40 hover:text-stone-300 grid place-content-center"
        (click)="handleDeleteMessage()"
      >
        <i class="pi pi-trash"></i>
      </button>
      <button
        type="button"
        class="size-7 p-1 rounded-md hover:bg-stone-700/40 hover:text-stone-300 grid place-content-center"
        (click)="editMessage()"
      >
        <i class="pi pi-pencil"></i>
      </button>
      }
      <button
        type="button"
        class="size-7 p-1 rounded-md shadow-sm hover:bg-stone-700/40 hover:text-stone-300 grid place-content-center"
        (click)="handleReplyMessage()"
      >
        <i class="pi pi-reply -scale-x-100"></i>
      </button>
    </div>
  </div>
</div>
