<p-dialog
  [showHeader]="false"
  [modal]="true"
  [visible]="visible() || false"
  (visibleChange)="handleSetVisible($event)"
  [breakpoints]="{ '960px': '60vw', '640px': '75vw', '480px': '95vw' }"
  [closeOnEscape]="true"
  [closeButtonProps]="{ styleClass: 'hidden!' }"
  [closeIcon]="'pi pi-times'"
  [blockScroll]="true"
  [style]="{ width: '40rem' }"
  [dt]="dialogThemes.custom"
  [dismissableMask]="true"
  contentStyleClass="p-3! flex! flex-col! -gap-2!"
>
  <span class="absolute -top-8 left-0 right-0 text-center text-lg text-nowrap"
    >Busque uma salas ou conversas</span
  >

  <div class="flex-1 h-14">
    <input
      pInputText
      fluid
      placeholder="Buscar salas ou conversas"
      [(ngModel)]="search"
      [dt]="inputThemes.outlined"
      class="h-14! text-lg!"
    />
  </div>

  <ul
    class="flex flex-col gap-y-0.5 overflow-y-auto max-h-[60vh] pt-4 hide-scrollbar"
  >
    @if (isLoading) {
    <p-skeleton
      width="100%"
      height="2.5rem"
      class="rounded-md! bg-stone-800!"
    />
    } @else if (rooms.length === 0) {
    <div
      class="h-[calc(100vh-20rem)] flex flex-col justify-center items-center p-4 gap-2"
    >
      <i class="pi pi-comment text-stone-700" style="font-size: 2rem"></i>
      <p class="text-sm text-stone-500 text-center">
        Nenhuma sala encontrada.<br />Crie ou entre em uma sala!
      </p>
    </div>
    } @for(room of rooms; track room.id) {
    <div
      class="w-full flex items-center justify-between gap-2 p-2 rounded-md hover:bg-stone-700/50"
    >
      <div class="flex items-center gap-2 min-w-0">
        <p-avatar
          [image]="room.picture ?? '/assets/assets/piscord.svg'"
          shape="circle"
          styleClass="min-w-8! [&_img]:object-cover"
          class="bg-lime-600!"
        />
        <div class="flex flex-col items-start -space-y-1">
          <span class="text-start text-nowrap truncate">{{
            room.display_name
          }}</span>
          @if (room.max_members) {
          <span
            class="text-xs text-stone-400 text-start text-nowrap truncate"
            >{{ room.member_count + "/" + room.max_members }}</span
          >
          } @else {
          <span
            class="text-xs text-stone-400 text-start text-nowrap truncate"
            >{{ room.member_count + " membros" }}</span
          >
          }
        </div>
      </div>

      @if (room.is_member) {
      <p-button
        label="Abrir"
        styleClass="ml-auto! h-8! p-2! rounded-sm! bg-stone-800! hover:opacity-90"
        icon="pi pi-arrow-right"
        iconPos="right"
        [dt]="buttonThemes.ghost"
        (click)="handleEnterRoom(room.id)"
      >
      </p-button>
      } @else {
      <p-button
        label="Entrar"
        styleClass="ml-auto! h-8 px-2! bg-[#586EF6]! text-white! rounded-sm! hover:opacity-90"
        [dt]="buttonThemes.ghost"
        (click)="handleJoinRoom(room.id)"
      >
      </p-button>
      }
    </div>
    }
  </ul>
</p-dialog>
