<div
  class="w-full min-h-[57px] fixed top-0 right-0 left-0 bottom-auto md:relative bg-stone-800 z-20 border-b flex items-center justify-between border-stone-700/80 px-4"
>
  <div class="h-full flex items-center space-x-2">
    @if (isMobile()) {
    <span styleClass="size-8 cursor-pointer group/button" routerLink="/">
      <i
        class="pi pi-arrow-left text-stone-400 group-hover/button:text-stone-100! grid place-content-center"
      ></i>
    </span>
    }
    <div class="h-full flex items-center">
      <p-avatar
        [image]="currentRoom()?.picture ?? '/assets/piscord.svg'"
        shape="circle"
        class="[&_img]:object-cover bg-lime-600!"
      />
    </div>
    @if (currentRoom()) {
    <app-room-info-modal
      [room]="currentRoom()"
      (setEditRoom)="isEditingRoom.set($event)"
    >
      <span class="text-white text-md cursor-pointer">
        {{ currentRoom()?.display_name }}
      </span>
    </app-room-info-modal>
    } @else {
    <div class="flex flex-col -space-y-1">
      <span class="text-white text-md">Selecione uma sala</span>
    </div>
    }
  </div>
  @if (currentRoom()?.is_admin) {
  <p-button
    styleClass="text-stone-400 size-8"
    [dt]="buttonThemes.outlined"
    (click)="handleEditRoom()"
  >
    <i pButtonIcon class="pi pi-pencil text-sm!"></i>
  </p-button>
  }
</div>

<app-update-room-modal
  [visible]="isEditingRoom()"
  (setVisible)="isEditingRoom.set($event)"
></app-update-room-modal>
