<div
  class="w-full h-[57px] bg-neutral-800 border-b flex items-center border-neutral-700/80 px-4"
>
  <div class="h-full flex items-center space-x-2">
    <div class="h-full flex items-center">
      <p-avatar
        image="{{
          roomService.selectedRoom?.pictureUrl ??
            'https://dbl-discord.usercontent.prism.gg/embed/avatars/1.png'
        }}"
        shape="circle"
      />
    </div>
    <span class="text-white text-md">
      {{ roomService.selectedRoom?.name }}
    </span>
  </div>

  <div class="ml-auto flex items-center space-x-2">
    <p-button
      icon="pi pi-user-plus"
      [dt]="ghost"
      styleClass="size-8! bg-neutral-800! hover:bg-neutral-700/50! transition-colors!"
    >
    </p-button>
  </div>
</div>
