<p-splitter
  class="h-screen"
  stateStorage="local"
  [panelSizes]="[25, 75]"
  [minSizes]="[20, 60]"
  style="border: none"
  class="[&_.p-splitter-gutter]:w-0 [&_.p-splitter-gutter]:cursor-ew-resize! [&_.p-splitter-gutter]:relative! [&_.p-splitter-gutter-handle]:absolute! [&_.p-splitter-gutter-handle]:w-1! [&_.p-splitter-gutter-handle]:h-screen! [&_.p-splitter-gutter-handle]:rounded-none! [&_.p-splitter-gutter-handle]:bg-transparent! [&_.p-splitter-gutter-handle:hover]:bg-neutral-500/40! [&_.p-splitter-gutter-handle]:transition-colors"
  stateKey="piscord-splitter"
>
  <ng-template #panel>
    <app-sidebar></app-sidebar>
  </ng-template>
  <ng-template #panel>
    <router-outlet></router-outlet>
  </ng-template>
</p-splitter>
