@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.app-dark, .app-dark *));

/* Light (300) */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Ubuntu-Light.ttf") format("truetype");
}

/* Normal (400) */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

/* Medium  (500) */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

/* Bold (600) */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

/* Bold (700) */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

body,
body .p-component {
  font-family: "Ubuntu", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
